<div class="template-container">
    <div class="view-box outset-neomo">
        <svg class="view-svg" width="348" height="420" viewBox="0 0 348 420" fill="none" xmlns="http://www.w3.org/2000/svg">
            <image xlink:href="assets/img/Group 3.svg"/>

            <path class="build_option" id="floor-2" data-adress="Л. Українки 23" data-floors="2" data-flats="10" data-flats-free="5" data-flats-sold="5" data-descriptions="Lorem" d="M278 96.5L0.5 17V1L274 70L292.5 59.5L342 39.5V63.5L292.5 85.5L278 96.5Z" />
            <path class="build_option" id="floor-3" data-adress="Л. Українки 23" data-floors="3" data-flats="10" data-flats-free="4" data-flats-sold="6" data-descriptions="Lorem" d="M277 90.5L1 22.5V1L277 65.5L291.5 58L343 38.5V60.5L277 90.5Z" />
            <path class="build_option" id="floor-4" data-adress="Л. Українки 23" data-floors="4" data-flats="10" data-flats-free="10" data-flats-sold="0" data-descriptions="Lorem" d="M277 81.5L1 17.5V1.5L277 57.5L288.5 52L342.5 33.5V54.5L277 81.5Z" />
            <path class="build_option" id="floor-5" data-adress="Л. Українки 23" data-floors="5" data-flats="10" data-flats-free="6" data-flats-sold="4"  data-descriptions="Lorem" d="M279 78L1 22V1L279 52L290 47L342 31V54.5L279 78Z" />
            <path class="build_option" id="floor-6" data-adress="Л. Українки 23" data-floors="6" data-flats="10" data-flats-free="5" data-flats-sold="5" data-descriptions="Lorem" d="M278 70L1 20.5V1.5L278 45.5L289 39.5L342 25.5V49.5L278 70Z" />
            <path class="build_option" id="floor-7" data-adress="Л. Українки 23" data-floors="7" data-flats="10" data-flats-free="4" data-flats-sold="6" data-descriptions="Lorem" d="M279.5 66L1 21.5V1.5L279.5 39.5L289 36.5L343 25V44.5L279.5 66Z" />
            <path class="build_option" id="floor-8" data-adress="Л. Українки 23" data-floors="8" data-flats="10" data-flats-free="10" data-flats-sold="0" data-descriptions="Lorem" d="M278 54.5L1 18V1.5L278 32L290.5 27.5L343.5 18V41.5L278 54.5Z" />
            <path class="build_option" id="floor-9" data-adress="Л. Українки 23" data-floors="9" data-flats="10" data-flats-free="6" data-flats-sold="4"  data-descriptions="Lorem" d="M279 52.5L1 21.5V1.5L279 25.5L291 21.5L343 13V37.5L279 52.5Z" />
            <path class="build_option" id="floor-10" data-adress="Л. Українки 23" data-floors="10" data-flats="10" data-flats-free="5" data-flats-sold="5" data-descriptions="Lorem" d="M280.5 44L0.5 19.5V1.5L280.5 19.5L290 15.5L342.5 9V30.5L280.5 44Z" />
            <path class="build_option" id="floor-11" data-adress="Л. Українки 23" data-floors="11" data-flats="10" data-flats-free="4" data-flats-sold="6" data-descriptions="Lorem" d="M282 39.5L1 24.5V1.5L278 14.5L293.5 9.5L344 6V29L282 39.5Z" />
            <path class="build_option" id="floor-12" data-adress="Л. Українки 23" data-floors="12" data-flats="10" data-flats-free="10" data-flats-sold="0" data-descriptions="Lorem" d="M276.5 31.5L0.5 18V1L279 4.5H289L342.5 1V21.5L276.5 31.5Z" />
            <path class="build_option" id="floor-13" data-adress="Л. Українки 23" data-floors="13" data-flats="10" data-flats-free="6" data-flats-sold="4"  data-descriptions="Lorem" d="M283 29L4 26L1.5 5.5L280.5 1H295H346.5V26L283 29Z" />
            <path class="build_option" id="floor-14" data-adress="Л. Українки 23" data-floors="14" data-flats="10" data-flats-free="5" data-flats-sold="5" data-descriptions="Lorem" d="M282 21.5L0.5 25V7.5L279.5 1H345V21.5H282Z" />
            <path class="build_option" id="floor-15" data-adress="Л. Українки 23" data-floors="15" data-flats="10" data-flats-free="4" data-flats-sold="6" data-descriptions="Lorem" d="M280 26L1 33.5V16L280 0.5L345.5 4.5V26H280Z" />
            <path class="build_option" id="floor-16" data-adress="Л. Українки 23" data-floors="16" data-flats="10" data-flats-free="10" data-flats-sold="0" data-descriptions="Lorem" d="M282 24.5L1 41V22L282 0.5L345 6.5V29.5L282 24.5Z" />
            <path class="build_option" id="floor-17" data-adress="Л. Українки 23" data-floors="17" data-flats="10" data-flats-free="6" data-flats-sold="4"  data-descriptions="Lorem" d="M282 39.5L1 61.5V39.5L282 1L296 5.5L344.5 15V46L282 39.5Z" />
        </svg>
    </div>
    <div class="information outset-neomo">
        <h3 class="information-title">Информация о доме</h3>
        <ul class="information-option-list">
            <li class="option-item">Адрес <b id="item-adress"></b></li>
            <li class="option-item">Номер этажа <b id="item-floors"></b></li>
            <li class="option-item">Всего квартир <b id="item-flats"></b></li>
            <li class="option-item">Свободных квартир <b id="item-flats-free"></b></li>
            <li class="option-item">Проданных квартир <b id="item-flats-sold"></b></li>
        </ul>
        <div id="information-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus atque, dicta, optio quod, laborum inventore aut officiis alias debitis vitae sit laudantium omnis ad dolores ducimus quidem voluptatem velit adipisci!
        </div>
    </div>
</div>